@font-face {
    font-family: 'muller';
    src: url('../layoutHotel/fonts/MullerBold.woff2') format('woff2'),
      url('../layoutHotel/fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
  }

@font-face {
    font-family: 'muller';
    src: url('../layoutHotel/fonts/MullerMedium.woff2') format('woff2'),
      url('../layoutHotel/fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'muller';
    src: url('../layoutHotel/fonts/MullerRegular.woff2') format('woff2'),
      url('../layoutHotel/fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muller';
    src: url('../layoutHotel/fonts/MullerLight.woff2') format('woff2'),
      url('../layoutHotel/fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'muller', sans-serif;
    width: 1170px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'muller';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
    margin-left: 40px;
}

p {
    font-family: 'Muller';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
}

.container {
    padding-top: 70px;
}

.header-logo{
    position: relative;
    margin: 30px 0;
}

.cabinet {
    position: absolute;
    right: 0px;
    margin: 20px 0;
    padding-left: 30px;
    font-family: 'Muller';
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    background-image: url('../img/arrow4.svg');
    background-repeat: no-repeat;
    background-size: 21px 12px;
}
.tele {
    position: absolute;
    margin: 17px 30px;
    font-family: 'Muller';
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}

.header-nav-list {
    position: relative;
}

.nav-list {
    position: absolute;
    display: flex;
}

.header-list-item {
    padding: 27px 0 27px 45px;
}

.header-link {
font-family: 'Muller';
font-size: 16px;
line-height: 16px;
color: #666666;
}

.header-nav-btn {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: flex-end;
}

.button {
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    color: #CC9933;
    font-weight: normal;
    font-size: 16px;
}

.header-btn {
    margin-left: 45px;
}

.main {
    margin-top: 70px;
}

.special-list {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.special-list-item {
    width: 573px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.special-img-1 {
    height: 258px;
    margin: 0 23px 23px 0;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84), rgba(53, 65, 83, 0) 65.7%), url(../img/special-1.jpg)
}

.special-img-2 {
    background-image: url('../img/special-3.jpg');
    height: 540px;
    border-radius: 15px;
}

.special-img-3 {
    height: 258px;
    position: absolute;
    bottom: 0;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/special-2.jpg');
}

.special-content {
    padding: 40px 0 0 40px;
}

.special-content-one {
    margin: 211px 0 0 40px;
}

.special-text {
    font-family: 'Muller';
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 45px;
}

.special-text-one {
    font-family: 'Muller';
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 45px;
}

.list-title {
    font-family: 'Muller';
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 0;
    width: 287px;
    padding-bottom: 15px;
}

.list-title-one {
    font-family: 'Muller';
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    width: 298px;
    margin: 0;
    padding-bottom: 15px;
}

.special-list-link{
    font-family: 'Muller';
    font-size: 16px;
    line-height: 16px;
    color: #FFCC66;
    padding-right: 15px;
    margin: 0;
}

.special-arrow {
    background-image: url('../img/arrow3.svg');
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: center right;
}

.company-text {
    width: 888px;
    font-family: 'Muller';
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

.services-list {
    display: flex;
    flex-flow: row wrap;
}

.services-list-item {
    width: 573px;
    min-height: 330px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.services-list-item:not(:nth-child(2n)) {
    margin: 0 23px 23px 0;
}

.services-content {
    margin: 191px 0 0 45px;
}

.services-list-text {
    min-height: auto;
    font-family: 'Muller';
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    margin: 0;
}

.services-link {
    font-family: 'Muller';
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    padding-right: 20px;
}

.services-arrow {
    background-image: url('../img/arrow3.svg');
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: center right;
}

.services-image-1 {
    background-image: url('../img/services-1.jpg');
}

.services-image-2 {
    background-image: url('../img/services-2.jpg');
}

.services-image-3 {
    background-image: url('../img/services-3.jpg');
}

.services-image-4 {
    background-image: url('../img/services-4.jpg');
}

.benefits-list {
    display: flex;
    flex-flow: row wrap;
}

.benefits-list-item {
    width: 275px;
    background-repeat: no-repeat;
    background-size: 66px;
    background-position: 45px 40px;
}

.benefits-list-item:not(:nth-child(4n)) {
    margin: 0 23px 23px 0;
}

.benefits-icon-1{
    background-image: url('../img/Benefits-1.svg');
}

.benefits-icon-2{
    background-image: url('../img/Benefits-2.svg');
}

.benefits-icon-3{
    background-image: url('../img/Benefits-3.svg');
}

.benefits-icon-4{
    background-image: url('../img/Benefits-4.svg');
}

.benefits-icon-5{
    background-image: url('../img/Benefits-5.svg');
}

.benefits-icon-6{
    background-image: url('../img/Benefits-6.svg');
}

.benefits-icon-7{
    background-image: url('../img/Benefits-7.svg');
}

.benefits-icon-8{
    background-image: url('../img/Benefits-8.svg');
}

.benefits-list-text {
    width: 188px;
    min-height: auto;
    margin: 116px 0 0 45px;
    font-family: 'Muller';
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

.features-list {
    display: flex;
    flex-flow: row wrap;
}

.features-list-item {
    width: 374px;
    height: 440px;
}

.features-list-item:not(:nth-child(3n)) {
    margin: 0 23px 23px 0;
}

.features-div {
    position: relative;
    margin: 36px 0 54px 45px;
}

.large-text {
    font-family: 'Muller';
    font-weight: 700;
    font-size: 20px;
    Line-height: 20px;
}
.features-list-text {
    font-family: 'Muller';
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.star {
    position: absolute;
    top: 0;
    right: 46px;
}

.features-link {
font-family: 'Muller';
font-size: 16px;
line-height: 16px;
color: #000000;
}

.features-picture {
    position: relative;
    background-image: url('../img/placing-9.jpg');
    background-repeat: no-repeat;
}

.features-link-picture {
    position: absolute;
    bottom: 27px;
    left: 54px;
    font-family: 'Muller';
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    padding-right: 15px;
}

.features-link-picture {
    background-image: url('../img/Rectangle\ 2.svg');
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: center right;
}