@font-face {
    font-family: 'muller';
    src: url('../layoutHotel/fonts/MullerBold.woff2') format('woff2'),
      url('../layoutHotel/fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
  }

@font-face {
    font-family: 'muller';
    src: url('../layoutHotel/fonts/MullerMedium.woff2') format('woff2'),
      url('../layoutHotel/fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'muller';
    src: url('../layoutHotel/fonts/MullerRegular.woff2') format('woff2'),
      url('../layoutHotel/fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muller';
    src: url('../layoutHotel/fonts/MullerLight.woff2') format('woff2'),
      url('../layoutHotel/fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'muller', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.container:not(:last-child) {
    margin-bottom: 70px;
}

.button {
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    color: #CC9933;
    font-size: 16px;
}

.caption {
    font-size: 40px;
    font-weight: 400;
    color: #333333;
    margin: 0;
    padding-left: 30px;
    margin-bottom: 20px;
}

.desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.header {
  margin-bottom: 70px;
}

.header-title{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.cabinet {
    margin-left: auto;
    padding-left: 30px;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    background-image: url('../img/arrow4.svg');
    background-repeat: no-repeat;
    background-size: 21px 12px;
}
.tele {
    padding-left: 35px;
    font-size: 20px;
    color: #666666;
}

.header-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-list-item {
    margin: 27px 0 27px 45px;
}

.header-link {
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.header-nav-btn {
    display: flex;
    justify-content: space-evenly;
    width: 370px;
}

.header-btn {
    margin-right: 45px;
}

.special-list {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-between;
    max-height: 600px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.special-list-item {
    width: 573px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.special-img-1 {
    margin-bottom: 23px;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84), rgba(53, 65, 83, 0) 65.7%), url(../img/special-1.jpg)
}

.special-img-2 {
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/special-2.jpg');
}

.special-img-3 {
    background-image: url('../img/special-3.jpg');
    border-radius: 15px;
}

.special-content {
    padding: 40px 0 40px 40px;
}

.special-content-one {
    padding: 210px 0 40px 40px;
}

.special-text {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 47px;
}

.special-text-one {
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 47px;
}

.list-title {
    font-weight: bold;
    font-size: 34px;
    color: #FFFFFF;
    margin: 0;
    width: 305px;
    margin-bottom: 15px;
}

.list-title-one {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    width: 298px;
    margin: 0;
    margin-bottom: 15px;
}

.special-list-link{
    font-size: 16px;
    color: #FFCC66;
    padding-right: 15px;
    margin: 0;
}

.special-arrow {
    background-image: url('../img/arrow3.svg');
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: center right;
}

.company-text {
    width: 888px;
    line-height: 200%;
    color: #000000;
}

.services-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.services-list-item {
    width: 573px;
    min-height: 330px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.services-list-item:not(:nth-child(2n)) {
    margin: 0 23px 23px 0;
}

.services-content {
    padding: 191px 0 0 45px;
}

.services-list-text {
    min-height: auto;
    line-height: 200%;
    color: #000000;
    margin: 0;
}

.services-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    padding-right: 20px;
}

.services-arrow {
    background-image: url('../img/arrow3.svg');
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: center right;
}

.services-image-1 {
    background-image: url('../img/services-1.jpg');
}

.services-image-2 {
    background-image: url('../img/services-2.jpg');
}

.services-image-3 {
    background-image: url('../img/services-3.jpg');
}

.services-image-4 {
    background-image: url('../img/services-4.jpg');
}

.benefits-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.benefits-list-item {
    width: 275px;
    background-repeat: no-repeat;
    background-size: 66px;
    background-position: 45px 40px;
}

.benefits-list-item:not(:nth-child(4n)) {
    margin: 0 23px 23px 0;
}

.benefits-icon-1{
    background-image: url('../img/Benefits-1.svg');
}

.benefits-icon-2{
    background-image: url('../img/Benefits-2.svg');
}

.benefits-icon-3{
    background-image: url('../img/Benefits-3.svg');
}

.benefits-icon-4{
    background-image: url('../img/Benefits-4.svg');
}

.benefits-icon-5{
    background-image: url('../img/Benefits-5.svg');
}

.benefits-icon-6{
    background-image: url('../img/Benefits-6.svg');
}

.benefits-icon-7{
    background-image: url('../img/Benefits-7.svg');
}

.benefits-icon-8{
    background-image: url('../img/Benefits-8.svg');
}

.benefits-list-text {
    width: 188px;
    padding: 116px 0 0 45px;
    line-height: 200%;
    color: #000000;
}

.features-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.features-list-item {
    width: 374px;
    height: 440px;
}

.features-list-item:not(:nth-child(3n)) {
    margin: 0 23px 23px 0;
}

.features-div {
    padding: 35px 35px 40px 45px;
}

.large-text {
    font-weight: 700;
    font-size: 20px;
    Line-height: 20px;
}

.features-list-text-inline {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 16px;
}

.star {
    float: right;
}

.features-title {
    margin: 0 0 16px 0;
}

.features-link {
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin: 0;
}

.features-list-text {
    color: #999999;
    margin-bottom: 20px;
}

.features-picture {
    background-image: url('../img/placing-9.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.features-link-picture {
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    padding-right: 15px;
    margin-bottom: 27px;
}

.features-link-picture {
    background-image: url('../img/Rectangle\ 2.svg');
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: center right;
}
